* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
}

.card {
    container-name: card;
    container-type: inline-size;
    display: grid;
    width: clamp(38ch, 100vw, 68ch);
    max-width: 68ch;
    gap: 2rem;
    background-color: hsl(0, 0%, 100%);
    margin: max(8vw, 5rem) auto;
    border-radius: 1.5rem;
    line-height: 1.5rem;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
}

.card strong {
    font-weight: 700;
}

.card ul,
.card ol {
    list-style-position: outside;
}

.card ul li {
    padding-left: 1rem;
    margin-left: 1.5rem;
}

.card ul li::marker {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

.card ol li {
    list-style-type: decimal;
    padding-left: 1rem;
    margin-left: 1.5rem;
}

.card ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

.card > * {
    padding: 0 2rem;
}

.card .cardtext-heading {
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.card .cardsection .cardtext-heading {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-size: 2rem;
}

.card .cardsection:last-child {
    margin-bottom: 2rem;
}

.card .cardsection ul li {
    list-style-type: square;
}

.card .cardaside {
    background-color: hsl(330, 100%, 98%);
    margin: 0 2rem;
    padding: 1.5rem 2rem;
}

.card .cardaside .cardtext-heading {
    margin-bottom: 1rem;
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
    font-size: 1.2rem;
    font-weight: 700;
}

.card .cardaside ul li {
    list-style-type: disc;
}

.card .cardaside ul li::marker {
    color: hsl(332, 51%, 32%);
}

.card .cardbanner {
    margin-top: 2rem;
}

.card .cardbanner .cardtext-heading {
    margin-top: 2rem;
}

.card .cardbanner .cardimage {
    width: 100%;
    border-radius: 15px;
}

.card .cardtable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: left;
}

.card .cardtable tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.card .cardtable tr:last-child {
    border-bottom: none;
}

.card .cardtable th,
.card .cardtable td {
    padding: 0.75rem 0;
}

.card .cardtable th {
    padding-left: 2rem;
}

.card .cardtable td {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

@media (width < 468px) {
    .card {
        border-radius: 0;
        margin: 0;
    }

    .card .cardbanner {
        margin: 0;
        padding: 0;
    }

    .card .cardbanner .cardimage {
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    .card .cardbanner .cardtext-heading,
    .card .cardbanner .cardtext-description {
        padding: 0 2rem;
        line-height: 1.1;
    }
}
